/*Declare variables*/
:root {
	
	--g1-bg-image: url("/themes_custom/Clean Library Capsule/example_steam.jpg");
}

/*Set background image*/
.basicgamecarousel_BasicGameCarouselItem_3YYQ9 .basicgamecarousel_TextBoxCarouselContents_3bvCH {
	
	background-image: var(--g1-bg-image) !Important ;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
