/*Resize scroll container*/
.ReactVirtualized__Grid__innerScrollContainer {
	
	width: 3193.84px !Important;
    max-width: 3193.84px !Important;
}

/*Disable label overflow*/
.basicgamecarousel_CarouselGameLabelWrapper_ZkD6W {
	
    overflow: hidden;
	width: 0px !Important;
}
