/*Declare variables*/
:root {
	
	--g1-stroke-color: #000;
	--g1-stroke-size: 1px;
}

/*Generate outline*/
.basicgamecarousel_BasicGameCarouselItem_3YYQ9 .basicgamecarousel_TextBoxCarouselContents_3bvCH {

	text-shadow: 0 0 var(--g1-stroke-size) var(--g1-stroke-color), 0 0 var(--g1-stroke-size) var(--g1-stroke-color), 0 0 var(--g1-stroke-size) var(--g1-stroke-color), 0 0 var(--g1-stroke-size) var(--g1-stroke-color), 0 0 var(--g1-stroke-size) var(--g1-stroke-color),0 0 var(--g1-stroke-size) var(--g1-stroke-color), 0 0 var(--g1-stroke-size) var(--g1-stroke-color), 0 0 var(--g1-stroke-size) var(--g1-stroke-color), 0 0 var(--g1-stroke-size) var(--g1-stroke-color), 0 0 var(--g1-stroke-size) var(--g1-stroke-color),0 0 var(--g1-stroke-size) var(--g1-stroke-color), 0 0 var(--g1-stroke-size) var(--g1-stroke-color), 0 0 var(--g1-stroke-size) var(--g1-stroke-color), 0 0 var(--g1-stroke-size) var(--g1-stroke-color), 0 0 var(--g1-stroke-size) var(--g1-stroke-color),0 0 var(--g1-stroke-size) var(--g1-stroke-color), 0 0 var(--g1-stroke-size) var(--g1-stroke-color), 0 0 var(--g1-stroke-size) var(--g1-stroke-color), 0 0 var(--g1-stroke-size) var(--g1-stroke-color), 0 0 var(--g1-stroke-size) var(--g1-stroke-color);
}
